<!DOCTYPE html>
<html lang="en">
<head>
    <body>
    <h1>❤️ ❤️ ❤️ ❤️❤️ ❤️ ❤️ ❤️ </h1>
    <p>"Todays day is" {{ dayis }}</p>
    <p>"current time is " {{ CurrentTime }} ❤️ </p>
</body>
    <body>
        <form action="/submit", method="post">
           <label for="name">name</label>
           <input type="text" id="name" name="name" placeholder="Enter your name" >
           <br>
            <label for="password">password</label>
            <input type="password" id="password" name="password" placeholder="Enter your password">
            <br>
            <input type="submit" value="Submit">
        </form>
    </body>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: green;
            margin: 0;
            padding: 20px;
        }
        h1 {
            color:blue;
        }
        p {
            color: #ea1111;
        }
        p{
            font-family: Arial, sans-serif;
            color: yellow;
            font-size: 20px;
            line-height: 1.5;  
        }
    </style>
</head>
