<!DOCTYPE html>
<html lang="en">
<head>
    <body>
    <h1>❤️ ❤️ ❤️ ❤️❤️ ❤️ ❤️ ❤️ </h1>
    <p>"This is To DO HOme Page "</p>
</body>
    <body>
        <form action="/submit", method="post">
           <label for="itemname">Item Name</label>
           <input type="text" id="itemname" name="itemname" placeholder="Enter your name" >
           <br>
            <label for="iteamDespription">Iteam Despription</label>
            <input type="iteamDespription" id="iteamDespription" name="iteamDespription" placeholder="Enter your password">
            <br>
            <br>
            <label for="iteamid">Iteam ID</label>
            <input type="iteamid" id="iteamid" name="iteamid" placeholder="Enter your iteamid">
            <br>
            <br>
            <label for="iteamUUID">Iteam UUID</label>
            <input type="iteamUUID" id="iteamUUID" name="iteamUUID" placeholder="Enter your iteamUUID">
            <br>
            <input type="submit" value="Submit">
        </form>
    </body>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: green;
            margin: 0;
            padding: 20px;
            alignment-baseline: central;
        }
        h1 {
            color:blue;
        }
        p {
            color: #ea1111;
        }
        p{
            font-family: Arial, sans-serif;
            color: yellow;
            font-size: 20px;
            line-height: 1.5;  
        }
    </style>
</head>
